@import url(https://fonts.googleapis.com/css?family=Open+Sans);

:root {
    --max-width: 360px;
    --seconary-color: #ff6116;
    --seconary-color-hover: #d2500f;
    --tex-dark-color: #929292
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    background-color: #fafafa;
    background-image: url("https://sun9-28.userapi.com/I6L9tURT0IYFD-mRstWwxyU1GLg9AoGb2aTjfw/2DnsGlg1dvI.jpg");
    background-repeat: no-repeat;
    background-size: 60vw auto;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    box-sizing: border-box;
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

input {
    outline: 0;
    background: #fafafa;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.button {
    display: block;
    outline: 0;
    background: var(--seconary-color);
    width: 100%;
    border: 0;
    border-radius: 24px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    font-weight: 600;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.button:disabled {
    color: rgb(246, 246, 246);
    background-color: rgba(19, 1, 1, 0.3);
    border-color: rgba(118, 118, 118, 0.3);
    cursor: not-allowed;
}

.button:hover:not([disabled]), .button:active, .button:focus {
    background: var(--seconary-color-hover);
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.canvas {
    background-color: #FFFFFF;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.4);
}

.wrapper-canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.canvas__text {
    color: #8a8a8a;
    font-size: 12px;
    text-align: center;
    width: 80%;
    position: absolute;
    top: 230px;
    user-select: none;
}

.canvas__status {
    color: #8a8a8a;
    font-size: 14px;
    text-align: center;
}

.canvas__svg {
    width: 100%;
    height: 18px;
    font-size: 12px;
}

.panel {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 30px 30px;
}

.panel__column {
    height: 100%;
}

.login__panel {
    width: 70vw;
    height: 50vh;
    display: flex;
    justify-content: space-between;
}

.login-form {
    max-width: var(--max-width);
}

.login__submit {
    max-width: 180px;
    margin-top: 30px;
}

.login__subtitle {
    margin-bottom: 30px;
}

.home__panel {
    width: 70vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.status {
    color: var(--tex-dark-color);
    font-size: 24px;
    margin: 0;
}

.form-home {
    margin-top: 20px;
}

.form-home__button {
    width: 200px;
}

.progressbar {
    width: 100%;
    height: 20px;
    position: relative;
    background: #fafafa;
    padding: 3px;
    border: 1px solid rgba(0,0,0,0.3);
}

.progressbar > span {
    display: block;
    height: 100%;
    background-color: var(--seconary-color);
    box-shadow:
            inset 0 2px 9px  rgba(255,255,255,0.3),
            inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

.title {
    color: black;
}

.subtitle {
    color: #8a8a8a;
}